@page "/input-details/customer-details/{employeeID}"
@using Master_details.Models;
@using NorthwindCloudApp
@using Financial
@using System.Text.Encodings.Web;
@using System.Net;
@using System.Web;
@inject INorthwindCloudAppService northwindCloudAppService

<div class="row-layout input-details-customer-details-container">
    <div class="column-layout group">
        <h5 class="h5">
            Input details
        </h5>
        <div class="row-layout group_1">
            <div class="column-layout group_2">
                <h5 class="content">
                    Heading
                </h5>
                <p class="typography__body-1 text">
                    @employee.FirstName @employee.LastName
                </p>
                <div class="column-layout group_3">
                    <p class="typography__subtitle-2 content">
                        Title
                    </p>
                    <p class="typography__body-1 content">
                        @employee.Title
                    </p>
                </div>
                <div class="column-layout group_3">
                    <p class="typography__subtitle-2 text_1">
                        Email
                    </p>
                    <p class="typography__body-1 content">
                        Orangebeard@company.com
                    </p>
                </div>
                <div class="column-layout group_3">
                    <p class="typography__subtitle-2 text_1">
                        Phone
                    </p>
                    <p class="typography__body-1 content">
                        @employee.Address?.Phone
                    </p>
                </div>
                <div class="column-layout group_3">
                    <p class="typography__subtitle-2 text_1">
                        Street
                    </p>
                    <p class="typography__body-1 content">
                        @employee.Address?.Street
                    </p>
                </div>
                <div class="row-layout group_3">
                    <div class="column-layout group_4">
                        <p class="typography__subtitle-2 text_1">
                            City
                        </p>
                        <p class="typography__body-1 content">
                            @employee.Address?.City
                        </p>
                    </div>
                    <div class="column-layout group_5">
                        <p class="typography__subtitle-2 text_1">
                            State
                        </p>
                        <p class="typography__body-1 content">
                            @employee.Address?.Region
                        </p>
                    </div>
                </div>
                <div class="column-layout group_3">
                    <p class="typography__subtitle-2 text_1">
                        Country
                    </p>
                    <p class="typography__body-1 content">
                        @employee.Address?.Country
                    </p>
                </div>
            </div>
            <div class="column-layout group_6">
                <p class="typography__body-1 content">
                    Should be allowed to query data based on param or filter after fetching data
                </p>
                <IgbGrid Data="northwindCloudAppOrderFiltered" RowSelection="GridSelectionMode.Single" PrimaryKey="OrderID" DisplayDensity="DisplayDensity.Cosy" 
                AllowFiltering="true" SelectedRowsChanged="(ev) => UpdateSelectedRow(ev)" FilterMode="FilterMode.ExcelStyleFilter" AutoGenerate="false" class="ig-typography grid" 
                input_details_customer_details-scope>
                    <IgbGridToolbar>
                        <IgbGridToolbarTitle>Orders</IgbGridToolbarTitle>
                    </IgbGridToolbar>
                    <IgbColumn Field="OrderID" DataType="GridColumnDataType.Number" Header="orderID" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="CustomerID" DataType="GridColumnDataType.String" Header="customerID" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="EmployeeID" DataType="GridColumnDataType.Number" Header="employeeID" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="OrderDate" DataType="GridColumnDataType.Date" Header="orderDate" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="RequiredDate" DataType="GridColumnDataType.Date" Header="requiredDate" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="ShippedDate" DataType="GridColumnDataType.Date" Header="shippedDate" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="ShipVia" DataType="GridColumnDataType.Number" Header="shipVia" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Freight" DataType="GridColumnDataType.Number" Header="freight" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="ShipName" DataType="GridColumnDataType.String" Header="shipName" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="ShipAddress" DataType="GridColumnDataType.String" Header="shipAddress" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="ShipCity" DataType="GridColumnDataType.String" Header="shipCity" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="ShipRegion" DataType="GridColumnDataType.String" Header="shipRegion" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="ShipPostalCode" DataType="GridColumnDataType.String" Header="shipPostalCode" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="ShipCountry" DataType="GridColumnDataType.String" Header="shipCountry" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Customer.CustomerID" DataType="GridColumnDataType.String" Header="customer customerID" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Customer.CompanyName" DataType="GridColumnDataType.String" Header="customer companyName" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Customer.ContactName" DataType="GridColumnDataType.String" Header="customer contactName" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Customer.ContactTitle" DataType="GridColumnDataType.String" Header="customer contactTitle" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Customer.Address" DataType="GridColumnDataType.String" Header="customer address" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Customer.City" DataType="GridColumnDataType.String" Header="customer city" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Customer.Region" DataType="GridColumnDataType.String" Header="customer region" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Customer.PostalCode" DataType="GridColumnDataType.String" Header="customer postalCode" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Customer.Country" DataType="GridColumnDataType.String" Header="customer country" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Customer.Phone" DataType="GridColumnDataType.String" Header="customer phone" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Customer.Fax" DataType="GridColumnDataType.String" Header="customer fax" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.EmployeeID" DataType="GridColumnDataType.Number" Header="employee employeeID" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.LastName" DataType="GridColumnDataType.String" Header="employee lastName" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.FirstName" DataType="GridColumnDataType.String" Header="employee firstName" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.Title" DataType="GridColumnDataType.String" Header="employee title" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.TitleOfCourtesy" DataType="GridColumnDataType.String" Header="employee titleOfCourtesy" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.BirthDate" DataType="GridColumnDataType.Date" Header="employee birthDate" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.HireDate" DataType="GridColumnDataType.Date" Header="employee hireDate" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.Address" DataType="GridColumnDataType.String" Header="employee address" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.City" DataType="GridColumnDataType.String" Header="employee city" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.Region" DataType="GridColumnDataType.String" Header="employee region" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.PostalCode" DataType="GridColumnDataType.String" Header="employee postalCode" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.Country" DataType="GridColumnDataType.String" Header="employee country" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.HomePhone" DataType="GridColumnDataType.String" Header="employee homePhone" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.Extension" DataType="GridColumnDataType.String" Header="employee extension" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.Photo" DataType="GridColumnDataType.String" Header="employee photo" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.Notes" DataType="GridColumnDataType.String" Header="employee notes" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsTo" DataType="GridColumnDataType.Number" Header="employee reportsTo" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.PhotoPath" DataType="GridColumnDataType.String" Header="employee photoPath" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.EmployeeID" DataType="GridColumnDataType.Number" Header="employee reportsToNavigation employeeID" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.LastName" DataType="GridColumnDataType.String" Header="employee reportsToNavigation lastName" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.FirstName" DataType="GridColumnDataType.String" Header="employee reportsToNavigation firstName" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.Title" DataType="GridColumnDataType.String" Header="employee reportsToNavigation title" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.TitleOfCourtesy" DataType="GridColumnDataType.String" Header="employee reportsToNavigation titleOfCourtesy" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.BirthDate" DataType="GridColumnDataType.Date" Header="employee reportsToNavigation birthDate" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.HireDate" DataType="GridColumnDataType.Date" Header="employee reportsToNavigation hireDate" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.Address" DataType="GridColumnDataType.String" Header="employee reportsToNavigation address" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.City" DataType="GridColumnDataType.String" Header="employee reportsToNavigation city" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.Region" DataType="GridColumnDataType.String" Header="employee reportsToNavigation region" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.PostalCode" DataType="GridColumnDataType.String" Header="employee reportsToNavigation postalCode" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.Country" DataType="GridColumnDataType.String" Header="employee reportsToNavigation country" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.HomePhone" DataType="GridColumnDataType.String" Header="employee reportsToNavigation homePhone" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.Extension" DataType="GridColumnDataType.String" Header="employee reportsToNavigation extension" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.Photo" DataType="GridColumnDataType.String" Header="employee reportsToNavigation photo" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.Notes" DataType="GridColumnDataType.String" Header="employee reportsToNavigation notes" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsTo" DataType="GridColumnDataType.Number" Header="employee reportsToNavigation reportsTo" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.PhotoPath" DataType="GridColumnDataType.String" Header="employee reportsToNavigation photoPath" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.EmployeeID" DataType="GridColumnDataType.Number" Header="employee reportsToNavigation reportsToNavigation employeeID" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.LastName" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation lastName" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.FirstName" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation firstName" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.Title" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation title" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.TitleOfCourtesy" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation titleOfCourtesy" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.BirthDate" DataType="GridColumnDataType.Date" Header="employee reportsToNavigation reportsToNavigation birthDate" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.HireDate" DataType="GridColumnDataType.Date" Header="employee reportsToNavigation reportsToNavigation hireDate" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.Address" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation address" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.City" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation city" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.Region" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation region" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.PostalCode" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation postalCode" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.Country" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation country" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.HomePhone" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation homePhone" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.Extension" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation extension" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.Photo" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation photo" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.Notes" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation notes" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsTo" DataType="GridColumnDataType.Number" Header="employee reportsToNavigation reportsToNavigation reportsTo" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.PhotoPath" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation photoPath" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsToNavigation.EmployeeID" DataType="GridColumnDataType.Number" Header="employee reportsToNavigation reportsToNavigation reportsToNavigation employeeID" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsToNavigation.LastName" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation reportsToNavigation lastName" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsToNavigation.FirstName" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation reportsToNavigation firstName" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsToNavigation.Title" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation reportsToNavigation title" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsToNavigation.TitleOfCourtesy" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation reportsToNavigation titleOfCourtesy" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsToNavigation.BirthDate" DataType="GridColumnDataType.Date" Header="employee reportsToNavigation reportsToNavigation reportsToNavigation birthDate" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsToNavigation.HireDate" DataType="GridColumnDataType.Date" Header="employee reportsToNavigation reportsToNavigation reportsToNavigation hireDate" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsToNavigation.Address" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation reportsToNavigation address" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsToNavigation.City" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation reportsToNavigation city" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsToNavigation.Region" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation reportsToNavigation region" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsToNavigation.PostalCode" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation reportsToNavigation postalCode" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsToNavigation.Country" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation reportsToNavigation country" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsToNavigation.HomePhone" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation reportsToNavigation homePhone" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsToNavigation.Extension" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation reportsToNavigation extension" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsToNavigation.Photo" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation reportsToNavigation photo" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsToNavigation.Notes" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation reportsToNavigation notes" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsToNavigation.ReportsTo" DataType="GridColumnDataType.Number" Header="employee reportsToNavigation reportsToNavigation reportsToNavigation reportsTo" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Employee.ReportsToNavigation.ReportsToNavigation.ReportsToNavigation.PhotoPath" DataType="GridColumnDataType.String" Header="employee reportsToNavigation reportsToNavigation reportsToNavigation photoPath" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="ShipViaNavigation.ShipperID" DataType="GridColumnDataType.Number" Header="shipViaNavigation shipperID" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="ShipViaNavigation.CompanyName" DataType="GridColumnDataType.String" Header="shipViaNavigation companyName" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="ShipViaNavigation.Phone" DataType="GridColumnDataType.String" Header="shipViaNavigation phone" Sortable="true" Selectable="false"></IgbColumn>
                </IgbGrid>
                <IgbGrid Data="selectedOrders" PrimaryKey="OrderID" DisplayDensity="DisplayDensity.Cosy" AllowFiltering="true" FilterMode="FilterMode.ExcelStyleFilter" AutoGenerate="false" class="ig-typography grid_1" select_details-scope>
                    <IgbGridToolbar>
                        <IgbGridToolbarTitle>Order details</IgbGridToolbarTitle>
                    </IgbGridToolbar>
                    <IgbColumn Field="OrderID" DataType="GridColumnDataType.Number" Header="orderID" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="ProductID" DataType="GridColumnDataType.Number" Header="productID" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="UnitPrice" DataType="GridColumnDataType.Number" Header="unitPrice" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Quantity" DataType="GridColumnDataType.Number" Header="quantity" Sortable="true" Selectable="false"></IgbColumn>
                    <IgbColumn Field="Discount" DataType="GridColumnDataType.Number" Header="discount" Sortable="true" Selectable="false"></IgbColumn>
                </IgbGrid>
            </div>
        </div>
    </div>
</div>

@code {
    private List<Order> northwindCloudAppOrder = new();
    private static List<Order> northwindCloudAppOrderFiltered = new();
    private List<Order_Detail> northwindCloudAppOrderDetail = new();
    private EmployeeModel employee = new EmployeeModel();
    private static List<Order_Detail> selectedOrders = new List<Order_Detail>();
    public static Input_details_customer_details app;

    [Parameter]
    public string EmployeeID {get; set;}

    protected override async Task OnInitializedAsync()
    {
        northwindCloudAppOrder = await northwindCloudAppService.GetOrder();
        northwindCloudAppOrderDetail = await northwindCloudAppService.GetOrder_Detail();
        var employees = await northwindCloudAppService.GetEmployees();
        employee = employees.FirstOrDefault(x => x.EmployeeID == int.Parse(EmployeeID));
        northwindCloudAppOrderFiltered = northwindCloudAppOrder.Where(x => x.EmployeeID == employee.EmployeeID).ToList();
        if (northwindCloudAppOrderFiltered.Count > 0)
        {
            selectedOrders = northwindCloudAppOrderDetail.Where(x => x.OrderID == northwindCloudAppOrderFiltered[0].OrderID).ToList();
        }
        app = this;
    }

    public void UpdateSelectedRow(object[] value)
    {
        var orderId = (value[0] as Order).OrderID;
        selectedOrders = northwindCloudAppOrderDetail.Where(or => or.OrderID == orderId).ToList();
        app.StateHasChanged();
    }
}
