@page "/"
@using Northwind
@inject IJSRuntime JS
@inject NavigationManager navigationManager
@inject INorthwindService northwindService

<div class="row-layout master-view-container">
    <div class="row-layout group">
        <IgbGrid Data="northwindEmployees"
                 PrimaryKey="EmployeeID"
                 DisplayDensity="DisplayDensity.Cosy"
                 RowSelection=GridSelectionMode.Single
                 RowSelectionChanging="RowSelectionChanging"
                 AllowFiltering="true"
                 FilterMode="FilterMode.ExcelStyleFilter"
                 AutoGenerate="false" class="ig-typography grid" master_view-scope>
            <IgbColumn Sortable="true" BodyTemplateScript="columnBodyTemplateScript" Selectable="false"></IgbColumn>
            <IgbColumn Field="LastName" DataType="GridColumnDataType.String" Header="lastName" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="FirstName" DataType="GridColumnDataType.String" Header="firstName" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="Title" DataType="GridColumnDataType.String" Header="title" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="HireDate" DataType="GridColumnDataType.Date" Header="hireDate" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="Address.Street" DataType="GridColumnDataType.String" Header="address street" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="Address.City" DataType="GridColumnDataType.String" Header="address city" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="Address.Region" DataType="GridColumnDataType.String" Header="address region" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="Address.Country" DataType="GridColumnDataType.String" Header="address country" Sortable="true" Selectable="false"></IgbColumn>
        </IgbGrid>
        <div class="column-layout group">
            <IgbCard Outlined="true" class="card" master_view-scope>
                <IgbCardMedia class="media-content" details_view-scope>
                    <img src="@employeesType?.AvatarUrl" class="image" />
                </IgbCardMedia>
                <IgbCardHeader>
                    <h3 slot="title">
                        @employeesType?.FirstName
                    </h3>
                    <h5 slot="subtitle">
                        @employeesType?.LastName
                    </h5>
                </IgbCardHeader>
                <IgbCardActions class="actions-content" master_view-scope>
                    <IgbButton Variant="ButtonVariant.Flat" slot="start" Size="SizableComponentSize.Large" class="button" master_view-scope>
                        Button
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbIconButton slot="end" Variant="IconButtonVariant.Flat">
                        <span class="material-icons">
                            favorite
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbIconButton>
                    <IgbIconButton slot="end" Variant="IconButtonVariant.Flat">
                        <span class="material-icons">
                            bookmark
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbIconButton>
                    <IgbIconButton slot="end" Variant="IconButtonVariant.Flat">
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbIconButton>
                </IgbCardActions>
            </IgbCard>
        </div>
        <div class="column-layout group">
            <IgbButton Size="SizableComponentSize.Large" class="button_1" master_view-scope @onclick="@(e => OnClickHandler("1"))">
                View Employee 1
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Size="SizableComponentSize.Large" class="button_1" master_view-scope @onclick="@(e => OnClickHandler("2"))">
                View Employee 2
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Size="SizableComponentSize.Large" class="button_1" master_view-scope @onclick="@(e => OnClickHandler("3"))">
                View Employee 3
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbSelect Outlined="true" class="select" master_view-scope Change=" e => OnClickHandler(e.Detail.Value)">
                @foreach (var item in northwindEmployees)
                {
                    <IgbSelectItem Value="@item.EmployeeID.ToString()">
                        @item.LastName
                    </IgbSelectItem>
                }
            </IgbSelect>
        </div>
    </div>
</div>

@code {
    private List<EmployeesType> northwindEmployees = new();
    private EmployeesType employeesType;
    private IJSObjectReference module;
    private DotNetObjectReference<Master_View> objRef;

    protected override async Task OnInitializedAsync()
    {
        northwindEmployees = await northwindService.GetEmployees();
        module = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/Master_View.razor.js");
        objRef = DotNetObjectReference.Create(this);

        await JS.InvokeAsync<string>("setDotNetRef", objRef);
    }

    [JSInvokable]
    public void OnClickHandler(string id)
    {
        navigationManager.NavigateTo($"/details_view/{id}");
    }

    private void RowSelectionChanging(IgbRowSelectionEventArgs args)
    {
        employeesType = (EmployeesType)args.Detail.NewSelection[0];
        // handler for selection change
    }
}
